* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: grey;
}

.wrapper {
    margin: 5px;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    max-width: 550px;
    min-width: 350px;
    height: 75%;
    gap: 10px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
}

.wrapper .display {
    width: 100%;
    height: 15%;
    background-color: hsl(0, 0%, 0%);
    color: white;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.205);
    border-radius: 25px;
}

.display p {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    font-size: 4.5rem;
    margin-right: 5%;
    overflow: hidden;
}

.wrapper .row {
    display: flex;
    width: 100%;
    height: 15%;
    gap: 10px;
}

.row button {
    flex: 1;
    width: 25%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 2em;
    transition: 0.3s ease;
}

.wrapper .grey-button {
    color: black;
    background-color: rgb(185, 185, 185);
}

.wrapper .black-button {
    background-color: rgb(71, 71, 71);
}

.wrapper .orange-button {
    background-color: rgb(255, 153, 0);
}

.grey-button:hover {
    filter: brightness(1.2);
}

.black-button:hover {
    filter: brightness(1.2);
}

.orange-button:hover {
    filter: brightness(1.2);
}

#fifth-row button:nth-child(3) {
    flex: 2;
}